@model Association


    <div>
        <h1 class="text-center mt-5">@ViewBag.OneCategory.Name</h1>
    </div>


    <div class="Flex3"> 
        <div class="Left">
            <h1>Categories</h1>
                @if( ViewBag.CatsAndProds.Associations != null)
                {
                    @foreach(Association c in ViewBag.CatsAndProds.Associations)
                    {
                        <div class="d-flex m-3 align-items-center justify-content-between">
                            <p>@c.Product.Name</p>
                            <form class="ms-3" action="/catandprod/@c.AssociationId/delete" method="post">    
                                    <input class="Button bg-danger text-light p-1 mb-3" type="submit" value="Remove Item">
                            </form>
                        </div>
                    }
                }
        </div>


        <div class="Right">
            <h1>Add Product</h1>
            <form class="Form" asp-action="catAddProd" asp-controller="Home">
                <div class="Flex2">
                    <input type="hidden" asp-for="CategoryId" value="@ViewBag.OneCategory.CategoryId">
                    <label asp-for="ProductId">Select A Product</label>
                    <select class="Input text-center" asp-for="ProductId">
                                @foreach(var c in  ViewBag.FilteredProds)
                                    {
                                        <option value="@c.ProductId">@c.Name</option>        
                                    }
                    </select> 
                </div>
                <div class="Center">
                    @if(ViewBag.FilteredProds.Count == 0)
                    {
                        <input disabled class="Button" type="submit" value="Submit!">
                    } else {
                        <input class="Button" type="submit" value="Submit!">
                    }
                </div>
            </form>
        </div>
    </div>