@model Wedding

<div class="Content">
    <h1 class="Center m-5">To Be Married: @Model.Bride & @Model.Groom</h1>
    <div class="OneWeddingContainer">
        <div class="Left">
            <h1>Join Us!!</h1>
            <h4 class="Title">
                You've been invited the Wedding of <br> <br>
                @Model.Bride & @Model.Groom on <br> <br>
                @{
                    DateTime date = @Model.EventDate;
                    string stringDate = date.ToString("MMMM d") + (date.Day == 1 ? "st" : (date.Day == 2 ? "nd" : (date.Day == 3 ? "rd" : "th"))) + date.ToString(", yyyy");
                }
                
                as they exchange vows on @stringDate <br> <br>
                in front of family and loved ones.
            </h4>
        </div>

        <div class="Right">
            <h3>Guests:</h3>
            <ul>
                <li>
                    @foreach(Rsvp r in @ViewBag.WeddingRsvps.Guests){
                        <p>@r.User.FirstName @r.User.LastName</p>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
