@model List<Dish>
<header>
        <div class="NavFlex">
            <h1>Welcome to CRUDelicious!</h1>
                <div class="NavLinkFlex">
                        <a class="NavLink" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="NavLink" asp-area="" asp-controller="Home" asp-action="NewDish">Add New Dish Entry</a>
                </div>
        </div>
</header>

<div class="Flex2">
    <div class="LeftBox">
        <h2 class="Title">Check out some recent dishes</h2>
        @{
            foreach(Dish food in @Model){
                <div class="Flex">
                    <h3 class="Result"><a href="/dishes/@food.DishId">@food.Name</a> by @food.Chef </h3>
                    @{
                        for(var i = 0; i< @food.Tastiness; i++){
                        <h4>⭐</h4>
                        }
                    }
                </div>
            }
        }
    </div>
    <div class="RightBox">
        <h2 class="Title">Top Rated Dish</h2>
        @{
            foreach(Dish dish in @ViewBag.TopDish)
            {
                <div class="Flex">
                    <h2 class="Result"><a href="/dishes/@dish.DishId">@dish.Name</a></h2>
                            @{
                                for(var i = 0; i< @dish.Tastiness; i++){
                                <h4>⭐</h4>
                                }
                            }
                </div>
            }
        }
    </div>
</div>
