<div class="text-center">
    <h1 class="Title">Check out our tasty dishes!</h1>
</div>


<table class="table table-light table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Chef</th>
            <th scope="col">Tastiness</th>
            <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
            @foreach(Dish dish in Model){
                <tr>
                    <td>@dish.DishName</td>
                    <td>@dish.Chef.FirstName @dish.Chef.LastName</td>
                    <td>@dish.Tastiness</td>
                    <td>@dish.Calories</td>
                </tr>
            }
    </tbody>
</table>