<div class="text-center">
    <h1 class="Title">Check out our roster of Chefs!</h1>
</div>

<div class="TableContainer">
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th class="text-center" scope="col">Age</th>
                <th class="text-center" scope="col">Dishes</th>
            </tr>
        </thead>
        <tbody>
                @foreach(User chef in Model){
                    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                    int dob = int.Parse(@chef.Age.ToString("yyyyMMdd"));
                    int Age = (now - dob) / 10000;
                    <tr>
                        <td>@chef.FirstName @chef.LastName</td>
                        <td class="text-center">@Age</td>
                        <td class="text-center">@chef.AllDishes.Count()</td>
                    </tr>
                }
        </tbody>
    </table>
</div>