@model Pet

<h1>Name: @Model.PetName</h1>
<h3>Age: @Model.PetAge</h3>
<h3>Animal Type: @Model.PetType</h3>
<h3>Has Fur: @Model.HasFur</h3>
<h3>Created On: @Model.CreatedAt</h3>
<h3>Last Updated: @Model.UpdatedAt</h3>